<div class="dashboard-container text-center">
  <img src="../../../assets/Image/logo.png" alt="" />
  <h1 class="dashboard-title">HOTEL DASHBOARD</h1>

  <div class="row dashboard-buttons">
    <div class="col-12 col-md-4 mb-3">
      <button
        class="btn-dashboard score"
        (click)="navigateTo('/score-ranking')"
      >
        ⭐ Punteggio
      </button>
    </div>
    <div class="col-md-4">
      <button class="btn-dashboard feedback" (click)="navigateTo('/feedback')">
        📝 Feedback
      </button>
    </div>
    <div class="col-md-4">
      <button class="btn-dashboard reward" (click)="navigateTo('/my-hotel')">
        🏩 I Tuoi Hotel
      </button>
    </div>
  </div>
</div>
