<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
  <div class="container">
    <a
      class="navbar-brand fw-bold text-uppercase logo-text"
      routerLink="/dashboard"
    >
      Feedback <span>Reverse</span>
    </a>

    <!-- Bottone Toggle per Mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu di navigazione -->
    <div class="collapse navbar-collapse animated-menu" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li *ngIf="isLoggedIn && isHotel" class="nav-item">
          <a class="nav-link btn-custom" routerLink="/dashboard">
            🏨 Dashboard
          </a>
        </li>

        <li *ngIf="isLoggedIn && isClient" class="nav-item">
          <a class="nav-link btn-custom" routerLink="/dashboard-client">
            📊 Dashboard
          </a>
        </li>

        <li *ngIf="isClient" class="nav-item">
          <a class="nav-link btn-custom" routerLink="/profile"> 👤 Profilo </a>
        </li>

        <li *ngIf="isHotel" class="nav-item">
          <a class="nav-link btn-custom" routerLink="/new-hotel">
            🏢 Crea Hotel
          </a>
        </li>

        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link btn-custom" routerLink="/login">🔑 Login</a>
        </li>

        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link btn-custom" routerLink="/register"
            >📝 Registrati</a
          >
        </li>

        <li *ngIf="isLoggedIn" class="nav-item">
          <button
            class="nav-link btn-danger-custom logout-btn"
            (click)="logout()"
          >
            🚪 Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
