<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Feedback Inverso</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Se è loggato: Mostra Dashboard -->
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>

        <!-- CLIENT: Mostra Feedback Ricevuti e Il Suo Punteggio -->
        <li *ngIf="isClient" class="nav-item">
          <a class="nav-link" routerLink="/feedback-ricevuti"
            >Feedback Ricevuti</a
          >
        </li>
        <li *ngIf="isClient" class="nav-item">
          <a class="nav-link" routerLink="/mio-punteggio">Il Mio Punteggio</a>
        </li>

        <!-- HOTEL: Mostra Feedback Lasciati e Classifica Punteggi Utenti -->
        <li *ngIf="isHotel" class="nav-item">
          <a class="nav-link" routerLink="/feedback">Feedback Lasciati</a>
        </li>
        <li *ngIf="isHotel" class="nav-item">
          <a class="nav-link" routerLink="/score-ranking"
            >Classifica Punteggi</a
          >
        </li>
        <li *ngIf="isLoggedIn && isHotel" class="nav-item">
          <a class="nav-link" routerLink="/my-hotel">I Miei Hotel</a>
        </li>

        <li *ngIf="isHotel" class="nav-item">
          <a class="nav-link" routerLink="/new-hotel">Crea Hotel</a>
        </li>

        <!-- Se NON è loggato: Mostra Login e Registrati -->
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/register">Registrati</a>
        </li>

        <!-- Se è loggato: Mostra Logout -->
        <li *ngIf="isLoggedIn" class="nav-item">
          <button class="nav-link logout-btn" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
