<div class="container mt-5">
  <h2>Registrazione</h2>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        [(ngModel)]="registerData.username"
        name="username"
        required
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        [(ngModel)]="registerData.email"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        [(ngModel)]="registerData.password"
        name="password"
        required
      />
    </div>
    <div class="mb-3">
      <label for="role" class="form-label">Role</label>
      <select
        class="form-control"
        id="role"
        [(ngModel)]="registerData.roles"
        name="role"
        required
      >
        <option value="ROLE_CLIENT">ROLE_CLIENT</option>
        <option value="ROLE_HOTEL">ROLE_HOTEL</option>
      </select>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!registerForm.form.valid"
    >
      Registrati
    </button>
  </form>
</div>
