<div class="container mt-5 register-container">
  <h2 class="form-title">Registrazione</h2>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="form-group">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        [(ngModel)]="registerData.username"
        name="username"
        required
        placeholder="Scegli un username"
      />
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        [(ngModel)]="registerData.email"
        name="email"
        required
        placeholder="Inserisci la tua email"
      />
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        [(ngModel)]="registerData.password"
        name="password"
        required
        placeholder="Scegli una password"
      />
    </div>
    <div class="form-group">
      <label for="role" class="form-label">Ruolo</label>
      <select
        class="form-control"
        id="role"
        [(ngModel)]="registerData.roles"
        name="role"
        required
      >
        <option value="ROLE_CLIENT">CLIENT</option>
        <option value="ROLE_HOTEL">HOTEL</option>
      </select>
    </div>
    <button
      type="submit"
      class="btn btn-custom btn-block"
      [disabled]="!registerForm.form.valid"
    >
      Registrati
    </button>
  </form>
</div>
