<div class="container mt-4">
  <h2 class="text-center">Lascia un Feedback</h2>

  <!-- Form per lasciare un nuovo feedback -->
  <form (submit)="submitFeedback($event)" class="feedback-form">
    <div class="form-group">
      <label for="clientId">Cliente 🔎</label>
      <input
        type="number"
        id="clientId"
        class="form-control"
        required
        [(ngModel)]="newFeedback.clientId"
        name="clientId"
        placeholder="Inserisci ID cliente"
      />
    </div>

    <div class="form-group">
      <label>Pulizia ⭐</label>
      <input
        type="number"
        class="form-control"
        min="1"
        max="5"
        required
        [(ngModel)]="newFeedback.cleanlinessScore"
        name="cleanlinessScore"
      />
    </div>

    <div class="form-group">
      <label>Regole 📜</label>
      <input
        type="number"
        class="form-control"
        min="1"
        max="5"
        required
        [(ngModel)]="newFeedback.ruleComplianceScore"
        name="ruleComplianceScore"
      />
    </div>

    <div class="form-group">
      <label>Comportamento 👤</label>
      <input
        type="number"
        class="form-control"
        min="1"
        max="5"
        required
        [(ngModel)]="newFeedback.behaviorScore"
        name="behaviorScore"
      />
    </div>

    <div class="form-group">
      <label>Ha rispettato il Check-in/out?</label>
      <select
        class="form-control"
        required
        [(ngModel)]="newFeedback.respectedCheckInOut"
        name="respectedCheckInOut"
      >
        <option [value]="true">✅ Sì</option>
        <option [value]="false">❌ No</option>
      </select>
    </div>

    <div class="form-group">
      <label>Commento ✍️</label>
      <textarea
        class="form-control"
        required
        [(ngModel)]="newFeedback.comments"
        name="comments"
        placeholder="Inserisci il tuo commento"
      ></textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Invia Feedback</button>
  </form>

  <hr />

  <h2 class="text-center">Feedback Lasciati</h2>

  <div *ngIf="isLoading" class="text-center">
    <p>Caricamento in corso...</p>
  </div>

  <table
    *ngIf="!isLoading && feedbacks.length > 0"
    class="table table-striped table-hover"
  >
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Pulizia ⭐</th>
        <th>Regole 📜</th>
        <th>Comportamento 👤</th>
        <th>Check-in/out ⏳</th>
        <th>Commento ✍️</th>
        <th>Data 🕒</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feedback of filteredFeedbacks()">
        <td>{{ feedback.client.username }}</td>
        <td>{{ feedback.cleanlinessScore }}</td>
        <td>{{ feedback.ruleComplianceScore }}</td>
        <td>{{ feedback.behaviorScore }}</td>
        <td>{{ feedback.respectedCheckInOut ? "✅ Sì" : "❌ No" }}</td>
        <td>{{ feedback.comments }}</td>
        <td>{{ feedback.createdAt | date : "dd/MM/yyyy" }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!isLoading && feedbacks.length === 0" class="alert alert-warning">
    <p>Non hai ancora lasciato feedback</p>
  </div>
</div>
