<div class="container mt-5">
  <h2 class="text-center">📝 Feedback Ricevuti</h2>
  <div *ngIf="feedbacks.length === 0" class="text-center mt-4">
    <p>📭 Nessun feedback ricevuto</p>
  </div>

  <div *ngFor="let feedback of feedbacks" class="card mt-3 shadow">
    <div class="card-body">
      <h5 class="card-title">🏨 Hotel: {{ feedback.hotel.name }}</h5>
      <p class="card-text">📝 {{ feedback.comments }}</p>
      <p class="card-text">
        <strong>⭐ Punteggio Totale:</strong> {{ getTotalScore(feedback) }}
      </p>
      <p class="card-text">
        <strong>📅 Data:</strong> {{ feedback.createdAt | date : "medium" }}
      </p>
    </div>
  </div>
</div>
